<div class="container">
    <h1 class="text-center">RECOVERY PASSWORD</h1>
    <hr>
    <form action="/recovery" method="post">

        <div class="mb-3">
            <label for="emailInput">Email: </label>
            <input id="emailInput" placeholder="put your email here" name="email" type="email" required>
        </div>

        <input class="btn btn-secondary mb-3" type="submit" value="RECOVERY PASSWORD">
        <div class="mb-3">
            <a class="btn btn-success" href="/"> LOGIN</a> | <a class="btn btn-primary" href="/register"> REGISTER</a>
        </div>

    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/emailRecoveryPass"></script>