<div class="my-3">
    <label for="passwordInput">Password: </label>
    <input id="passwordInput" placeholder="put your password here" name="password" type="password" required>
</div>
<div class="mb-3">
    <a href="/forget-password">Recover password</a>
</div>