<div class="container">
    <h1 class="text-center">LOGIN</h1>
    <hr>
    <form action="/api/sessions/login" method="post">

        <div>
            <label for="emailInput">Email: </label>
            <input id="emailInput" placeholder="put your email here" name="email" type="email" required>
        </div>

        <div class="my-3">
            <label for="passwordInput">Password: </label>
            <input id="passwordInput" placeholder="put your password here" name="password" type="password" required>
        </div>

        <input class="btn btn-success" type="submit" value="LOGIN"> | <a class="btn btn-primary" href="/register"> REGISTER</a>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    setTimeout(() => {
        document.getElementById('emailInput').value = '';
        document.getElementById('passwordInput').value = '';
    }, 600)
    if( {{isNotUser}} ){
        Swal.fire('User or Password wrong!')
    }

</script>